@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Treat

<h2>Add Flavor to Your Treat</h2>

<h4>@Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Add Flavor" class="btn btn-danger btn-lg"/>
}