<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipe Box</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container"> 
          <div class="navigator row">
            <div class="col-md-1">
              @Html.ActionLink("Home", "Index", "Home")
            </div>
            <div class="col-md-1">
              @Html.ActionLink("Flavors", "Index", "Flavors")
            </div>
            <div class="col-md-1">
              @Html.ActionLink("Treats", "Index", "Treats")
            </div>
          </div>
          <center><h1 class="display-4">Sweet and Savory Bakery</h1>
          <br>
          <p class="lead">Welcome to your candy store! A website designed to keep track of all your favorite treats!</p></center>
        </div>
      </div>
      <div class="display-box">
        @RenderBody()
      </div> 
    </div>
  </body>
</html>